@import './fonts.css';
@import './variables.css';

html {
  font-family: var(--font-main);
}

body {
  background-color: var(--color-primary);
  color: white;
  background-image: url('../assets/images/dongmun-image-green.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 8px 4vw;
  padding-bottom: 12px;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 16px;
}

h3 {
  margin: 32px 0 16px 0;
}

section {
  border-radius: 16px;
  opacity: 0.9;
  padding: 32px;
}

button,
input[type="button"] {
  width: 72px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-accent);
  color: white;
}

footer {
  text-align: end;
  margin-top: 6px;
  margin-right: 8px;
}

#submit-section {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px
}

#name {
  font-size: 24px;
  padding: 0 32px;
}

#day-form label {
  display: flex;
  flex-direction: row;
}

#submit-button-container {
  text-align: right;
  margin-top: 24px;
}

#schedule-display-section {
  background-color: var(--color-third);
  margin-top: 8px;
}

#schedule-display-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#day-form>div {
  display: flex;
  gap: 1rem;
}

#schedule-display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.modal-portal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background: var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
}