@import './fonts.css';
@import './variables.css';

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

html {
  font-family: 'Pretendard', sans-serif;
}

body {
  background-color: var(--color-primary);
  color: white;
  background-image: url('../assets/images/dongmun-image-green.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 8px 4vw;
  padding-bottom: 12px;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 16px;
}

h3 {
  margin: 32px 0 16px 0;
}

section {
  border-radius: 16px;
  opacity: 0.9;
  padding: 32px;
}

button,
input[type="checkbox"],
.checkbox-label {
  cursor: pointer;
}

button,
input[type="text"] {
  border: none;
  border-radius: 8px;
  font-family: inherit;
}

input[type="text"] {
  font-size: 16px;
  padding: 8px 12px;
}

button {
  background-color: var(--color-accent);
  color: white;
  width: 72px;
  height: 36px;
}

footer {
  text-align: end;
  margin-top: 6px;
  margin-right: 8px;
}

.staff-button {
  width: 100px;
  height: 44px;
  position: relative;
  font-size: 16px;
}

.edit,
.delete {
  animation: shake 0.25s ease-in-out infinite;
  cursor: pointer;
}

.editing {
  opacity: 0.7;
}

.edit::before {
  background: url('../assets/icons/pencil.png') no-repeat center / contain;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
}

.delete::before {
  background: url('../assets/icons/x.png') no-repeat center / contain;
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
}

#select-section {
  background-color: var(--color-secondary);
  padding: 20px 0;
}

#staff-select-container,
#apply-work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#apply-work-container {
  margin: 0 3vw;
  overflow-x: auto;
  flex-wrap: wrap;
}

#staff-select-container {
  padding: 0 16px;
}

#control-container {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#name-input {
  width: 116px;
  margin-right: 4px;
}

#svg-container {
  margin-left: auto;
  display: flex;
  gap: 12px;
}

#name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px
}

#name {
  font-size: 24px;
  padding: 0 32px;
}

#staff-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  justify-items: center;
  gap: 12px;
  margin: 20px 0;
}

#submit-button-container {
  justify-content: flex-end;
  margin-top: 24px;
}

#schedule-display-section {
  background-color: var(--color-third);
  margin-top: 8px;
}

#schedule-display-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#day-form>div {
  display: flex;
  gap: 3vw;
}

#day-form label {
  display: inline-flex;
  flex-direction: row;
}

#schedule-display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}