@import './fonts.css';
@import './variables.css';

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

html {
  font-family: var(--font-main);
}

body {
  background-color: var(--color-primary);
  color: white;
  background-image: url('../assets/images/dongmun-image-green.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 8px 4vw;
  padding-bottom: 12px;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 16px;
}

h3 {
  margin: 32px 0 16px 0;
}

section {
  border-radius: 16px;
  opacity: 0.9;
  padding: 32px;
}

button,
input[type="button"],
input[type="submit"],
input[type="checkbox"] {
  cursor: pointer;
}

button,
input[type="button"],
input[type="submit"] {
  width: 72px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-accent);
  color: white;
}

footer {
  text-align: end;
  margin-top: 6px;
  margin-right: 8px;
}

.checkbox-label {
  cursor: pointer;
}


.edit {
  animation: shake 0.25s ease-in-out infinite;

}

.delete {
  animation: shake 0.25s ease-in-out infinite;

}

#select-section {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#apply-work-container {
  width: 100%;
}

#name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px
}

#name {
  font-size: 24px;
  padding: 0 32px;
}

#day-form label {
  display: flex;
  flex-direction: row;
}

#submit-button-container {
  text-align: right;
  margin-top: 24px;
}

#schedule-display-section {
  background-color: var(--color-third);
  margin-top: 8px;
}

#schedule-display-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#day-form>div {
  display: flex;
  gap: 1rem;
}

#schedule-display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}