@font-face {
  font-family: 'Pretendard';
  src: url('/app/static/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-primary: #42A89D
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: var(--color-primary);
  color: white;
}

h2 {
  margin-bottom: 0.5rem;
}

#day-form>div {
  display: flex;
  gap: 1rem;
}



#schedule-display-section {
  margin-top: 2rem;
}